name: Profile 3D Contributions
on:
  schedule:
    - cron: "0 15 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Default contributions
        uses: yoshi389111/github-profile-3d-contrib@v0.9.1
        with:
          USERNAME: ${{ github.repository_owner }}
          SETTING_JSON: conf/github-profile-3d-contrib.json

      - name: Night Green contributions # ダークモード用
        uses: yoshi389111/github-profile-3d-contrib@v0.9.1
        with:
          USERNAME: ${{ github.repository_owner }}
          SETTING_JSON: conf/profile-night-green.json 

      - name: Commit & Push
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add -A .
          git commit -m "update 3d contributions" || echo "no changes"
          git push